flask-limiter
pymysql
flask
Werkzeug
requests
oauthlib==3.0.1
Flask-Login==0.4.1
flask-sqlalchemy
marshmallow
marshmallow-sqlalchemy
flask-marshmallow
jinja2
itsdangerous
flask-api
flask_wtf
simplejson
Flask-OAuth
flask_admin
python-dotenv
